.advt-carousel{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slider-one{
	position: relative;
}
.slider-one img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slide{
	
	position: relative;
}
.slide h2{
	position:absolute ;
	top: 50%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	color: white;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 70px;
	text-transform: uppercase;
}
.slide p{
	position:absolute ;
	top: 60%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	color: white;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	font-size: 2em;
}
.slide a{
	padding: 15px 50px;
	text-decoration: none;
	background: transparent;
	border: 2px solid #fff;
	position:absolute ;
	top: 70%;
 	left: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	color: white;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	font-size: 1em;
}
.slide a:hover{
	color: #333;
	background: #fff;
}
.site-slider{
	position: relative;
	top: 45%;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
	background-color: #fff;
	padding: 1rem 1.5rem;
	border-radius: 10rem;
	margin: 0 1rem;
	opacity: 0;
	transition: opacity 1s ease;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
	opacity: 1;
}
.right-0{
	right: 0;
}
.position-top{
	position: absolute;
	top: 50%;
}
.slick-dots{
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
	position: absolute;
	bottom: 0;
	right: 50%;
}
.slick-dots li{
	margin: 0 0.6rem;
}
.slick-dots button{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	padding: 0;
	border: none;
	background-color: #fff;
	text-indent: -99999px;
	border-radius: 100%;
}
.slick-dots li.slick-active button{
	transform: scale(2.5);
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}
